/* color palette from <https://github.com/vuejs/theme> */
:root {
  // Brand
  --brand-color: rgba(7, 109, 204, 1);
  --brand-color-lightner: rgb(66, 156, 240);
  --brand-color-darken: rgb(4, 64, 121);

  --vt-c-white: rgba(255, 255, 255, 1);
  --vt-c-white-soft: rgba(248, 248, 248, 1);
  --vt-c-white-mute: rgba(242, 242, 242, 1);

  --vt-c-black: #181818;
  --vt-c-black-soft: rgba(34, 34, 34, 1);
  --vt-c-black-mute: rgba(40, 40, 40, 1);

  --vt-c-indigo: rgba(44, 62, 80, 1);

  --vt-c-red: rgb(196, 73, 73);
  --vt-c-red-dark: rgb(105, 27, 27);

  --vt-c-green: rgb(93, 196, 73);
  --vt-c-green-dark: rgb(27, 105, 31);

  --vt-c-cyan: rgb(73, 171, 196);
  --vt-c-cyan-dark: rgb(27, 63, 105);

  --vt-c-divider-light-1: rgba(60, 60, 60, 0.29);
  --vt-c-divider-light-2: rgba(60, 60, 60, 0.12);
  --vt-c-divider-dark-1: rgba(84, 84, 84, 0.65);
  --vt-c-divider-dark-2: rgba(84, 84, 84, 0.48);

  --vt-c-text-light-1: var(--vt-c-indigo);
  --vt-c-text-light-2: rgba(60, 60, 60, 0.66);
  --vt-c-text-dark-1: var(--vt-c-white);
  --vt-c-text-dark-2: rgba(235, 235, 235, 0.64);

  // Base
  --content-margin: 1rem;

  // Common Components
  --header-height: 5rem;

  // Button
  --button-color-primary: var(--brand-color);
  --button-color-primary-hover: var(--brand-color-darken);

  --button-color-secondary: var(--vt-c-cyan);
  --button-color-secondary-hover: var(--vt-c-cyan-dark);

  --button-color-danger: var(--vt-c-red);
  --button-color-danger-hover: var(--vt-c-red-dark);

  --button-color-proceed: var(--vt-c-green);
  --button-color-proceed-hover: var(--vt-c-green-dark);
}

/* semantic color variables for this project */
:root {
  --color-background: var(--vt-c-white);
  --color-background-soft: var(--vt-c-white-soft);
  --color-background-mute: var(--vt-c-white-mute);

  --color-border: var(--vt-c-divider-light-2);
  --color-border-hover: var(--vt-c-divider-light-1);

  --color-heading: var(--vt-c-text-light-1);
  --color-text: var(--vt-c-text-light-1);

  --section-gap: 160px;
}

// Não por agora :)
// @media (prefers-color-scheme: dark) {
//   :root {
//     --color-background: var(--vt-c-black);
//     --color-background-soft: var(--vt-c-black-soft);
//     --color-background-mute: var(--vt-c-black-mute);

//     --color-border: var(--vt-c-divider-dark-2);
//     --color-border-hover: var(--vt-c-divider-dark-1);

//     --color-heading: var(--vt-c-text-dark-1);
//     --color-text: var(--vt-c-text-dark-2);
//   }
// }

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

html {
  font-size: 62.5%; // A fonte padrão dos navegadores é 16px. 62.5% de 16px é 10px. Ou seja, 1rem = 10px. Só pra facilitar a conta mesmo.
}

body {
  min-height: 100vh;
  color: var(--color-text);
  background: var(--color-background);
  transition:
    color 0.5s,
    background-color 0.5s;
  line-height: 1.6;
  font-family:
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  font-size: 1.5rem;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

// Links
a:visited {
  color: #000;
}

// Headers
h1 {
  font-size: 2.5rem;
  margin-bottom: 0.5rem;
}

// Table
table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  border: 1px solid #ccc;

  .table_align-right {
    text-align: right;
  }

  .table_align-center,
  .table_actions {
    text-align: center;
  }

  th,
  td {
    padding: 5px 0;

    &:first-of-type {
      padding-left: 10px;
    }

    &:last-of-type {
      padding-right: 10px;
    }
  }

  thead {
    background-color: #dddcdc;
    text-align: left;
    font-size: 1.4rem;

    th {
      font-weight: 600;
    }
  }

  tbody {
    font-size: 1.3rem;

    tr {
      &:nth-child(even) {
        background-color: #f2f2f2;
      }

      &:hover {
        background-color: #e0e0e0;
      }

      &.table_item-inactive {
        td:not(.table_actions) {
          font-style: italic;
          opacity: 0.8;
        }
      }
    }

    td {
      &.table_status-on,
      &.table_status-off {
        &::before {
          font-weight: bold;
          margin-right: 5px;
        }
      }

      &.table_status-on {
        &::before {
          content: '✓';
          color: green;
        }
      }

      &.table_status-off {
        &::before {
          content: 'x';
          color: red;
        }
      }
    }
  }
}

// Form
form {
  & > div {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
  }

  input,
  select {
    height: 3rem;
  }
}

// Buttons
button {
  border: 0;
  padding: 0.7rem 1.2rem;
  border-radius: 0.5rem;
  cursor: pointer;
  font-size: 1.2rem;
  transition: 0.3s ease-in-out all;

  &:hover {
    transition: 0.3s ease-in-out all;
  }

  & ~ button {
    margin-left: 0.5rem;
  }

  // Types
  &.btn_primary {
    background-color: var(--button-color-primary);
    color: #fff;

    &:hover {
      background-color: var(--button-color-primary-hover);
    }
  }

  &.btn_secondary {
    background-color: var(--button-color-secondary);
    color: #fff;

    &:hover {
      background-color: var(--button-color-secondary-hover);
      color: #fff;
    }
  }

  &.btn_ghost {
    background-color: transparent;

    &:hover {
      text-decoration: underline;
    }
  }

  &.btn_inactivate {
    background-color: var(--button-color-danger);
    color: #fff;

    &:hover {
      background-color: var(--button-color-danger-hover);
    }
  }

  &.btn_activate {
    background-color: var(--button-color-proceed);
    color: #fff;

    &:hover {
      background-color: var(--button-color-proceed-hover);
    }
  }
}

main {
  margin: var(--content-margin);
}
